*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f0f2f5;
    display:flex;
    justify-content:center;
    padding:40px;
}

.container{
    width:500px;
    background:#fff;
    padding:25px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1,h2{
    text-align:center;
    margin-bottom:15px;
}

label{
    display:block;
    margin-bottom:10px;
    font-weight:bold;
}

input{
    width:100%;
    
}